@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");
$red: #ef473a;
* {
  padding: 0;
  margin: 0;
}

::selection {
  color: #fff;
  background-color: #ff4b3ec3;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Cairo", sans-serif;
}

.header {
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .overlay {
    background-color: rgba(239, 71, 58, 0.8);
    padding-top: 90px;
    position: relative;

    .header-block {
      margin-top: 120px;

      .header-brand {
        margin-bottom: 50px;
      }

      h1 {
        font-size: 30px;
        color: #fff;
        margin-bottom: 60px;
        line-height: 38px;
      }

      p {
        font-size: 18px;
        color: #fff;
        margin-bottom: 85px;
        line-height: 33px;
      }
    }

    .header-btns a {
      img {
        width: 250px;
      }

      &:last-child img {
        height: 65px;
      }
    }

    .header-img img {
      position: absolute;
      max-width: 100%;
      bottom: -210px;
    }
  }
}

/* Features section */

.feature {
  padding: 80px 0;
  background-color: #fff;
  position: relative;

  .features {
    margin-top: 90px;

    .d-flex {
      margin-bottom: 70px;

      .flex-shrink-0 i {
        color: #fff;
        height: 70px;
        width: 70px;
        line-height: 70px;
        background-color: $red;
        border-radius: 3px;
        display: block;
        text-align: center;
      }

      h5 {
        font-size: 24px;
        margin-bottom: 12px;
        color: #080808;
      }

      p {
        font-size: 15px;
        color: #757474;
        line-height: 20px;
      }
    }
  }

  .feature-img img {
    width: 70%;
  }
}

// option section

.option {
  padding-top: 120px;
  background-color: #f9f8f8;
  position: relative;
  .options {
    margin: 40px 40px 0 0;
    .d-flex {
      margin-bottom: 60px;
      h5 {
        font-size: 24px;
        line-height: 40px;
        color: #141414;
      }
      p {
        font-size: 15px;
        line-height: 20px;
        color: #757474;
      }
    }
  }
  .option-img {
    position: absolute;
    bottom: -150px;
  }
}

// slider section

.slider {
  padding: 80px 0 120px 0;
  background-color: #fff;
  position: relative;
  .slider-txt {
    h3 {
      font-size: 36px;
      color: #141414;
      margin-bottom: 60px;
    }
  }
  .slider-carousel {
    .carousel-inner {
      width: 60%;
      margin: auto;
    }
    .slider-btn {
      height: 70px;
      width: 70px;
      border: 1px solid $red;
      border-radius: 50%;
      color: $red;
      margin-top: 10%;
    }
    .carousel-indicators {
      bottom: -80px;
      button {
        height: 20px;
        width: 20px;
        border: 1px solid $red;
        border-radius: 50%;
        background-color: transparent;
        &.active {
          background-color: $red;
          border: 1px solid darken($color: $red, $amount: 20);
        }
      }
    }
  }
}

// FAQ section

.faq {
  background-image: url(../images/bg-2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .overlayer {
    background-color: rgb(0, 0, 0, 0.7);
    min-height: 100vh;
    padding: 70px 0;
  }
  .accordion {
    .accordion-item {
      background-color: rgb(255, 255, 255, 0.2) !important;
      box-shadow: none;
      border: none;
      border-radius: 0;
      margin-bottom: 25px;
    }
    .accordion-body {
      color: #c9c9c9;
      font-size: 15px;
      line-height: 20px;
    }
    .accordion-button {
      color: #ffffff;
      font-size: 18px;
      border: none;
      background-color: transparent;
      box-shadow: none;
      &::after {
        content: none;
      }
      i {
        margin-right: auto;
        transition: 0.2s all ease-in-out;
      }
      &.collapsed i {
        transform: rotate(180deg);
      }
    }
  }
  h3 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 60px;
  }
}

//footer

footer {
  background-color: #232323;
  padding-top: 60px;
  .widget {
    h4 {
      font-size: 24px;
      line-height: 25px;
      color: #f4f8fb;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        height: 2px;
        width: 30%;
        background-color: #993333;
        top: 40px;
      }
    }
    .about-us {
      font-size: 18px;
      line-height: 40px;
      color: #757474;
      margin-bottom: 105px;
    }
    hr {
      color: #454545;
    }
    .list-inline {
      margin-bottom: 30px;
      li a {
        height: 50px;
        width: 50px;
        color: #fff;
        background-color: #333333;
        border-radius: 50%;
        display: block;
        text-align: center;
        line-height: 50px;
        transition: 0.4s all ease-in-out;
        &:hover {
          background-color: #ff3333;
        }
      }
    }
    .twites {
      li a i {
        color: $red;
      }
      li a {
        font-size: 15px;
        line-height: 20px;
        color: #757474;
      }
      li {
        padding: 20px 10px 20px 0;
        border-bottom: 1px solid #454545;
        border-radius: 3px;
        &:hover {
          background-color: lighten($color: #232323, $amount: 10);
        }
      }
    }
    form {
      input {
        background-color: #2c2b2b;
        border: none;
        color: #c6c6c6;
        direction: rtl;
        padding: 13px 25px;
        &::placeholder {
          color: #c6c6c6;
          text-align: right;
          font-size: 14px;
          line-height: 25px;
        }
        &:focus {
          background-color: lighten($color: #2c2b2b, $amount: 10);
          color: #c9c9c9;
          box-shadow: none;
        }
      }
      .sub-btn {
        padding: 15px 35px;
        border: none;
        color: #ffffff;
        font-size: 14px;
        line-height: 25px;
        background-color: $red;
        border-radius: 3px;
        transition: 0.3s all ease-in-out;
        &:hover {
          background-color: darken($color: $red, $amount: 10);
        }
      }
    }
  }
  .top-footer {
    .last-hr {
      color: #454545;
      opacity: 0.3;
      margin-top: 100px;
    }
  }
  .copyright p {
    font-size: 15px;
    line-height: 40px;
    color: #565656;
  }
}

@media (max-width: 1200px) {
  .header {
    .overlay {
      padding-top: 50px;
    }
  }
  .option {
    .option-img img {
      width: 80%;
    }
    .option-img {
      bottom: 30px;
    }
  }
  .feature {
    padding: 30px 0;
    .features {
      .d-flex {
        margin-bottom: 45px;
        p {
          font-size: 13px;
        }
        .flex-shrink-0 i {
          color: #fff;
          height: 50px;
          width: 50px;
          line-height: 50px;
        }
      }
    }
    .feature-img {
      top: 110px;
      position: absolute;
      margin-right: 30px;
    }
  }
  .slider {
    .carousel-item {
      img {
        width: 80% !important;
        margin: auto;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    .header-img img {
      width: 20% !important;
      bottom: 10px !important;
    }
    .header-btns a {
      img {
        width: 170px !important;
      }

      &:last-child img {
        height: 45px !important;
      }
    }
  }
  .header-block {
    h1 {
      margin-bottom: 30px !important;
    }
    p {
      font-size: 14px !important;
      margin-bottom: 30px !important;
      line-height: 30px !important;
    }
  }
  .feature {
    .feature-img {
      margin-right: -10px;
    }
    .features {
      .d-flex {
        margin-bottom: 30px;
      }
    }
  }
  .option {
    padding-top: 60px;
    .option-img {
      bottom: 60px;
      right: 20px;
      img {
        width: 70%;
      }
    }
    .d-flex {
      margin-bottom: 30px !important;
    }
    .flex-shrink-0 img {
      width: 80%;
    }
    .flex-grow-1 {
      h5 {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  .slider {
    .carousel-item {
      img {
        width: 100% !important;
        margin-top: 10px;
      }
    }
  }
  footer {
    .list-inline {
      li a {
        height: 40px !important;
        width: 40px !important;
        line-height: 40px !important;
      }
    }
    .about-us {
      font-size: 15px !important;
      line-height: 30px !important;
      margin-bottom: 70px !important;
    }
    .widget {
      form {
        input {
          width: 120%;
        }
        .sub-btn {
          padding: 8px 20px;
        }
      }
    }
  }
}

@media (max-width: 845px) {
  .header {
    .overlay {
      padding-top: 0px;
    }
    .header-img{
      margin-right: 50px;
      img {
        width: 23% !important;
        bottom: -60px !important;
      }
    }
  }
  .option {
    .option-img {
      right: -10px;
    }
  }
  .slider {
    .slider-carousel {
      .slider-btn {
        height: 50px;
        width: 50px;
        margin-top: 11%;
      }
    }
  }
  .widget {
    form {
      input {
        width: 100% !important;
        padding: 10px 5px !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    .header-img {
      img {
        display: none;
      }
    }
  }
  .feature {
    .features{
      margin-top: 40px;
    }
    .feature-img {
      display: none;
    }
  }
  .option {
    padding-top: 20px;
    .option-img {
      display: none;
    }
  }
}